<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
  #sidenav mode="side" 
  [(opened)]="opened" >

    <mat-toolbar color="accent">
        <img src="assets/logo.png" style="max-width:    60%; min-width: 13%"/>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/people" (click)="sidenav.toggle()">
        <mat-icon >people</mat-icon> Lista de Personas
      </a>
      <a mat-list-item href="#" routerLink="/birthdays" (click)="sidenav.toggle()">
        <mat-icon>calendar_today</mat-icon> Cumpleañeros del Mes
      </a>
      <a mat-list-item href="#" routerLink="/rolCumpleanos" (click)="sidenav.toggle()">
        <mat-icon>perm_contact_calendar</mat-icon>   Rol de Cumpleaños
      </a>
      <a mat-list-item href="#" routerLink="/evento" (click)="sidenav.toggle()">
        <mat-icon>event_available</mat-icon>  Nuevo Evento
      </a>  
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon> 
      <span class="title-center">BirthdayNW</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet class="container"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
